html {
  margin: 0;
  padding: 0;
}

:root {
  --rose-madder: #677487;
  --space-cadet: #677487;
  --marigold: #1f242a;
  --deep-champange: #1f242a;
  --dark-lava: #ffac3e;
  --red: #ff0000;
  --green: #00ff00;
  --blue: #0000ff;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--deep-champange);
}

.hidden {
  display: none !important;
}

h1 {
  margin: 2vh 0;
  font-size: 4em;
  color: var(--space-cadet);
  text-align: center;
}

.tacticalboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50vw;
  margin: 0 auto;
}

.tacticalboard .canvas-area {
}

.tacticalboard canvas {
  display: block;
  border-style: solid;
  border-width: 0.25vw;
  border-color: var(--rose-madder);
}

.tacticalboard ul {
  list-style-type: none;
  padding: 0;
}

.tacticalboard ul li {
  margin: 1vw;
  width: 3vw;
  height: 3vw;
  border-radius: 0%;
  background-color: var(--rose-madder);
  line-height: 3vw;
  text-align: center;
  font-size: 1vw;
  color: var(--deep-champange);
}

.tacticalboard ul li:not(.disabled):hover {
  cursor: pointer;
  background-color: silver;
}


.tacticalboard ul li.disabled {
  background-color: red;
}

.tacticalboard ul li.red {
  background-color: red;
}

.tacticalboard i.red {
  color: var(--red);
}
.tacticalboard i.green {
  color: var(--green);
}
.tacticalboard i.blue {
  color: var(--blue);
}

.mapselector {
  text-align: center;
  
  margin: 1vw;
}


.buttons {
  border-radius: 0%;
  background-color: var(--rose-madder);
  text-align: center;
  font-size: 1vw;
  color: var(--deep-champange);
}

.arrows {
  border-radius: 0%;
  background-color: var(--rose-madder);
  text-align: center;
  font-size: 2vw;
  color: var(--deep-champange);
}

.arrows:not(.disabled):hover {
  cursor: pointer;
  background-color: silver;
}

.screen .footer {
  width: calc(100vw - 400px);
  bottom: 0;
  left: 180px;
  align-content: center;
  justify-content: center;
}